<!DOCTYPE html>
<html>

<head>
    <title>Get Books</title>
    <link rel="stylesheet" href="/styles/getbook.css">
</head>

<body>
    <div class="header">
        <a href="/profile"><button>Home</button></a>
        <h1>Book section</h1>
        <a href="/my-carts"><button>Cart</button></a>
    </div>
    <form action="/search-books" method="GET" class="search-bar">
        <label for="search">Search Books:</label>
        <input type="text" id="search" name="query" placeholder="Enter book title or author"
            style="height: 25px; padding: 10px auto; margin-right: 10px; width: 200px;">
        <button type="submit">Search</button>
    </form>
    <ul>
        <% for (const book of books_list) { %>
            <li>
                <p><strong>Title: </strong>
                    <%= book.title %>
                </p>
                <p><strong>Author: </strong>
                    <%= book.author %>
                </p>
                <p><strong>ISBN: </strong>
                    <%= book.isbn %>
                </p>
                <p><strong>Price: </strong>
                    <%= book.price %>
                </p>
                <p><strong>Quantity: </strong>
                    <%= book.quantity %>
                </p>
                <form action="/add-to-cart" method="POST">
                    <input type="hidden" name="book_data" value="<%= JSON.stringify(book) %>">
                    <label for="quantity"><strong>Enter Quantity:</strong></label>
                    <input type="number" id="quantity" name="quantity" min="1" value="1">
                    <button type="submit" id="submit">Add to Cart</button>
                </form>
                <% if (book && book.reviews&& book.reviews.length> 0) { %>
                    <h3>Reviews for <%= book.title %>
                    </h3>
                    <ul>
                        <% book.reviews.forEach((review)=> { %>
                            <li>
                                <strong>Rating: <%= review.rating %></strong>
                                <p>
                                    <%= review.comment %>
                                </p>
                            </li>
                            <% }); %>
                    </ul>
                    <% } else { %>
                        <p>No reviews available for <%= book.title %></p>
                        <% } %>
                            <h3>Add a Review</h3>
                            <form action="/profile/add-review" method="POST">
                                <input type="hidden" name="bookId" value="<%= book._id %>">
                                <label for="rating">Rating:</label>
                                <select name="rating" id="rating">
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                </select>
                                <br>
                                <div class="bottom-part" style="margin-top: 10px;">
                                    <label for="comment" >Comment:</label>
                                    <textarea name="comment" id="comment" rows="1" cols="30"></textarea>
                                    <br>
                                    <input type="submit" value="Submit Review" style="margin-left: 10px;">
                                </div>
                            </form>
            </li>
            <% } %>
    </ul>
</body>

</html>