<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cart</title>
    <link rel="stylesheet" href="/styles/total.css">
</head>
<body>
    <header class="header">
        <h1>Your Cart</h1>
        <a href="/my-carts" class="back-button">Back to Cart</a>
    </header>

    <main>
        <ul class="cart-list">
            <% for (const book of books) { %>
                <li class="cart-item">
                    <span class="item-title"><%= book.title %></span>
                    <span class="item-quantity">Quantity: <%= book.quantity %></span>
                    <span class="item-price">Price per unit: $<%= book.price %></span>
                    <span class="item-subtotal">Subtotal: $<%= book.quantity * book.price %></span>
                </li>
            <% } %>
        </ul>

        <p class="total-price">Total Price: $<%= total_price %></p>
    </main>







</body>
</html>
